.editModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.searchForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.searchForm {
  input {
    height: 50px;
    padding-left: 15px;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
  }
}

.buttonWrapper {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.buttonWrapper {
  button {
    position: relative;
    font-family: 'Junge';
    font-size: 24px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 5px;
    height: 50px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 300ms ease-in-out;
  }

  button:hover {
    background-color: rgba(225, 225, 225, 0.3);
  }
}

.inputWrapper span {
  display: inline-block;
  height: 22px;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.invalid {
  margin-bottom: 8px;
}

.invalid input {
  border: 1px solid red;
}