.form {
  border: 1px solid white;
  border-radius: 4px;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 25px;
  background-color: rgba(0, 0, 0, 0.3);
}

.inputWrapper {
  position: relative;
  margin-bottom: 70px;
}

input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  background-color: white;
  transition: all 300ms ease-in-out;
}

input:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

label {
  display: inline-flex;
  position: absolute;
  height: 50px;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 500;
  top: 0;
  left: 20px;
  transition: all 300ms ease-in-out;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translate(0, -100%);
  left: -5px;
  color: white;
}

span {
  display: inline-block;
  height: 22px;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.invalid {
  margin-bottom: 33px;
}

.invalid input {
  border: 1px solid red;
}

button {
  display: block;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  font-family: 'Junge', sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

button:hover {
  border: 1px solid black;
  background-color: rgba(225, 225, 225, 0.4);
  color: black;
}