.contact {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 18px;
  text-transform: capitalize;
}

.name,
.number {
  max-width: 360px;
}

.contactIcon {
  color: rgba(225, 225, 225, 0.7);
  width: 20px;
  height: 20px;
}

.buttonWrapper {
  position: absolute;
  right: 20px;
  top: calc(50% - 20px);
  display: flex;
  gap: 10px;
}

.button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  transition: all 300ms ease-in-out;
}

.icon {
  width: 40px;
  height: 40px;
  color: rgba(225, 225, 225, 0.7);
}

.button:hover .icon {
  scale: 1.1;
}

.button:active .icon {
  scale: 0.9;
}