.container {
  padding-top: 90px;
  padding-left: 120px;
}

.phoneBookLink {
  position: relative;
  font-family: 'Junge', sans-serif;
  font-size: 86px;
  display: block;
  font-weight: 500;
}

.phoneBookLink::before {
  content: '';
  position: absolute;
  width: 550px;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: -10px;
}